[submodule "src/senselab/libs/StyleTTS2"]
	path = src/senselab/libs/StyleTTS2
	url = https://github.com/yl4579/StyleTTS2.git
[submodule "src/senselab/libs/FreeVC"]
	path = src/senselab/libs/FreeVC
	url = https://github.com/OlaWod/FreeVC.git
[submodule "src/senselab/libs/MARS5-TTS"]
	path = src/senselab/libs/MARS5-TTS
	url = https://github.com/Camb-ai/MARS5-TTS.git
